# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Ignore min files, ignore node_modules, ignore vendor, ignore composer.lock, ignore package-lock.json.
assets/js/*.min.js
assets/css/*.min.css

node_modules/
vendor/
composer.lock
package-lock.json
